<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grayscale - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.css" rel="stylesheet">
    <script src="../static/js/grayscale.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Flying Central</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Flying Car</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Life seen from a whole new perspective.</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Built by Hardware Engineers.</h2>
            <p class="text-white-50">This will revolutionize the human race and make transportation a great experience.
              <a href="">Information On The Car</a>.The Prices are described in the information tab.</p>
          </div>
        </div>
        <img src="../static/img/FlyingCar2.jpg" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-grey">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-lg-6">
            <img class="img-fluid mb-2 ml-0" src="../static/img/flying.jpg" alt="">
          </div>
          <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-90 my-auto text-center text-lg-left">
                    <h4 class="text-white">Design</h4>
                    <p class="text-white-50 mb-0">The blueprints to the vehicle show the capability of how it can be functional. This is humanites greatest achievement.</p>
                    <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid ml-4 mb-4" src="../static/img/carpollution.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Alternatives</h4>
                  <p class="mb-0 text-white-50">Ways that it will help the environment and stop polution. This will benifit the world because you use less resources. Pollution has been a huge part of humanities greatest weaknesses and this will help stop a good amount of it.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="../static/img/flyingcar.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Assistance</h4>
                  <p class="mb-0 text-white-50">A way of helping the human race go new places. Travel is a huge part of life, and getting there quick is always a better deal.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
    <div class="container">
        <div class="row">
          <div class="col-md-9 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-4 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
        </div>
        </div>
        <form action="https://formspree.io/julian.a.garza11@gmail.com" method="POST" class="center mx-auto">
        <div class="row col-lg-8 flex-fill mx-auto text-center">
            <label for="inputName">Name</label>
            <input type="Name" name="name" class="form-control flex-fill col-lg-4 center" id="inputName" placeholder="Enter Full Name..." required>
            <label for="inputEmail">Email</label>
            <input type="Email" class="form-control flex-fill col-lg-4 center" name="_replyto "id="inputEmail" placeholder="Enter Email..." required>

        <div class="row col-lg-16 flex-fill text-center">
            <label for="inputMessage">Message</label>
            <textarea class="form-control flex-fill col-lg-14 center height" name="message" id="inputMessage" placeholder="Enter Message..." required></textarea>
            <div class="row center">
            <button type="submit" id="email-submit-btn" value="Send" class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </div>
        </form>
    </section>

    <!-- Pricing Section -->
    <section id="pricing" class="pricing-section bg-black">
      <div class="container">
        <div class="row">
                <h2 class="my-2 col-sm-12 larger text-center">Pricing</h2>
            </div>
            <div class="row col-lg-4 flex-fill mx-auto">
                <label for="engine" class="text-secondary">Engine</label>
                <select class="form-control" name="engine" id="engine">
                    <option value="Engine1">Gold Engine</option>
                    <option value="Engine2">Platinum Engine</option>
                    <option value="Engine3">Diamond Engine</option>
                </select>
                <label for="wheel" class="text-secondary">Wheel</label>
                <select class="form-control" name="wheel" id="wheel">
                    <option value="Wheel1">Copper Wheel</option>
                    <option value="Wheel2">Gold Wheel</option>
                    <option value="Wheel3">Platinum Wheel</option>
                </select>
                <label for="window" class="text-secondary">Window</label>
                <select class="form-control" name="window" id="window">
                    <option value="Window1">Clear Window</option>
                    <option value="Window2">Grey Window</option>
                    <option value="Window3">Black Window</option>
                </select>
                <button onclick="getDataFromApi()" class="my-2 col-sm-4 margin-center">Get Pricing</button>
                <div id="api_status" class="my-2 col-sm-4"></div>
            </div>
            <div id="api_data" class="center card-columns mx-auto semi"></div>
    </div>
         <div id="total_data" class="center mx-auto bold"></div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">Not Listed</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">Julian.A.Garza11@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+1 (512) 639-2664</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/JulianAGarza28" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Entity Flyers 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/grayscale.js"></script>

  </body>

</html>
